<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>

</script>
<body>
    <label for="cep">Digite o cep:</label>
    <input id="cep"   type="number" required="required" pattern="[0-9]+$" name="cep" >
    <button id="myButton" class="float-left submit-button" >Pesquisar</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = cep.value;
    };
</script>



</body>
</html>









